@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 211 66% 100%;
      --foreground: 211 65% 0%;
      --muted: 31 35% 93%;
      --muted-foreground: 31 3% 27%;
      --popover: 211 66% 100%;
      --popover-foreground: 211 65% 0%;
      --card: 211 66% 100%;
      --card-foreground: 211 65% 0%;
      --border: 211 3% 93%;
      --input: 211 3% 93%;
      --primary: 211 100% 50%;
      --primary-foreground: 0 0% 100%;
      --secondary: 31 100% 50%;
      --secondary-foreground: 31 100% 10%;
      --accent: 31 100% 50%;
      --accent-foreground: 31 100% 10%;
      --destructive: 9 95% 20%;
      --destructive-foreground: 9 95% 80%;
      --ring: 211 100% 50%;
      --radius: 1.5rem;
    }
  
    .dark {
      --background: 211 33% 1%;
      --foreground: 211 28% 100%;
      --muted: 31 35% 7%;
      --muted-foreground: 31 3% 73%;
      --popover: 211 33% 1%;
      --popover-foreground: 211 28% 100%;
      --card: 211 33% 1%;
      --card-foreground: 211 28% 100%;
      --border: 211 3% 14%;
      --input: 211 3% 14%;
      --primary: 211 100% 50%;
      --primary-foreground: 0 0% 100%;
      --secondary: 31 100% 50%;
      --secondary-foreground: 31 100% 10%;
      --accent: 31 100% 50%;
      --accent-foreground: 31 100% 10%;
      --destructive: 9 95% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 211 100% 50%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }